*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

div.proposalBox {
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

div.standardMenu {
    background-color: rbga(255, 255, 255, 0.1);

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50% , -50% );

    width: 24%;
    min-height: 400px;
    min-width: 300px;
    border-style: solid;    
    border-color: black;
    border-radius: 25px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    display: flex;
    align-items: center;
    justify-content: center;
}

div.proposalParaDiv {
    background-color: rbga(255, 255, 255, 0.1);

    width: 24%;
    min-height: 250px;
    min-width: 300px;
    border-style: solid;    
    border-color: black;
    border-radius: 25px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    display: flex;
    align-items: center;
    justify-content: center;
}

div.proposalInformation {
    min-height: 450px;
}


ul.nav {
    list-style-type: none;  
    background-color: white;  
}

ul.nav > li {
    display: inline-block;
    padding: 10px 20px;
}

ul.nav > button {
    display: inline-block;
    padding: 10px 20px;
}

button.mint {
    font-size: 20px;
}

body {
    background-color: yellowgreen;
    text-align: center;
  }

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;

}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul button{
    display: inline-block;
    line-height: 80px;
    margin: 0 5 px;
    font-size: 17px;
    outline: none;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border: none;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}


a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

html {
    scroll-behavior: smooth;
}